swiper-container, 
swiper-slide {
    height: 100%;
    width: 100%;
}

swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scanner-ui {
    display: none;
}

.scanner-hide {
    visibility: visible;
}

body.qrscanner {
    background: transparent;
    --background: transparent;
    --ion-background-color: transparent;
}

body.qrscanner .scanner-ui {
    display: block;
    height: 100vh; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

body.qrscanner .scanner-ui .scanner-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.qrscanner .scanner-hide {
    visibility: hidden;
}

.scanner-container {
    border: 1px solid white; 
    height: 250px; 
    width: 250px;
    border-radius:  5px;
}

#map {
    width: 100vw !important;
    height: 100% !important;
    background: #f4f4f2;
}
