:root {
    --ion-color-primary: #384d78;
	--ion-color-primary-rgb: 56,77,120;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #31446a;
	--ion-color-primary-tint: #4c5f86;

    --ion-color-secondary: #ff7e20;
	--ion-color-secondary-rgb: 255,126,32;
	--ion-color-secondary-contrast: #fff;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #e06f1c;
	--ion-color-secondary-tint: #ff8b36;

}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container img {
    border-radius: 5px;
    width: 90px;
}

.title-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-info ion-icon {
    font-size: 30px;
}

.info-tasa {
    font-size: 13px;
}

.info-tasa ion-col {
    padding:  0;
}

.info-tasa ion-col ion-text {
    display: block;
}

ion-list {
    background: transparent !important;
}

ion-list ion-item {
    --background: transparent !important;
}

.danger {
    color: red !important;
}

.success {
    color: green !important;
}

.result {
    min-height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result h1 {
    font-size: 18px;
}

.result ion-card {
    border-radius: 20px;
}