/** theme colors fab-icons */
:root {
    --ion-color-youtube: #ff0011;
     --ion-color-youtube-rgb: 255,0,17;
    --ion-color-youtube-contrast: #ffffff;
    --ion-color-youtube-contrast-rgb: 255,255,255;
    --ion-color-youtube-shade: #e0000f;
    --ion-color-youtube-tint: #ff1a29;

    --ion-color-google: #ff0011;
    --ion-color-google-rgb: 255,0,17;
    --ion-color-google-contrast: #ffffff;
    --ion-color-google-contrast-rgb: 255,255,255;
    --ion-color-google-shade: #e0000f;
    --ion-color-google-tint: #ff1a29;

    --ion-color-twitter: #5bbcff;
    --ion-color-twitter-rgb: 91,188,255;
    --ion-color-twitter-contrast: white;
    --ion-color-twitter-contrast-rgb: 0,0,0;
    --ion-color-twitter-shade: #50a5e0;
    --ion-color-twitter-tint: #6bc3ff;

    --ion-color-vimeo: #5bbcff;
    --ion-color-vimeo-rgb: 91,188,255;
    --ion-color-vimeo-contrast: white;
    --ion-color-vimeo-contrast-rgb: 0,0,0;
    --ion-color-vimeo-shade: #50a5e0;
    --ion-color-vimeo-tint: #6bc3ff;

    --ion-color-facebook: #1f00d1;
    --ion-color-facebook-rgb: 31,0,209;
    --ion-color-facebook-contrast: #ffffff;
    --ion-color-facebook-contrast-rgb: 255,255,255;
    --ion-color-facebook-shade: #1b00b8;
    --ion-color-facebook-tint: #351ad6;

    --ion-color-github: #000000;
    --ion-color-github-rgb: 0,0,0;
    --ion-color-github-contrast: #ffffff;
    --ion-color-github-contrast-rgb: 255,255,255;
    --ion-color-github-shade: #000000;
    --ion-color-github-tint: #1a1a1a;
}

.ion-color-youtube {
    --ion-color-base: var(--ion-color-youtube) !important;
    --ion-color-base-rgb: var(--ion-color-youtube-rgb) !important;
    --ion-color-contrast: var(--ion-color-youtube-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-youtube-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-youtube-shade) !important;
    --ion-color-tint: var(--ion-color-youtube-tint) !important;
  }
  
  .ion-color-google {
    --ion-color-base: var(--ion-color-google) !important;
    --ion-color-base-rgb: var(--ion-color-google-rgb) !important;
    --ion-color-contrast: var(--ion-color-google-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-google-shade) !important;
    --ion-color-tint: var(--ion-color-google-tint) !important;
  }
  
  .ion-color-twitter {
    --ion-color-base: var(--ion-color-twitter) !important;
    --ion-color-base-rgb: var(--ion-color-twitter-rgb) !important;
    --ion-color-contrast: var(--ion-color-twitter-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-twitter-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-twitter-shade) !important;
    --ion-color-tint: var(--ion-color-twitter-tint) !important;
  }
  
  .ion-color-vimeo {
    --ion-color-base: var(--ion-color-vimeo) !important;
    --ion-color-base-rgb: var(--ion-color-vimeo-rgb) !important;
    --ion-color-contrast: var(--ion-color-vimeo-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-vimeo-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-vimeo-shade) !important;
    --ion-color-tint: var(--ion-color-vimeo-tint) !important;
  }
  
  .ion-color-facebook {
    --ion-color-base: var(--ion-color-facebook) !important;
    --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
    --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-facebook-shade) !important;
    --ion-color-tint: var(--ion-color-facebook-tint) !important;
  }
  
  .ion-color-github {
    --ion-color-base: var(--ion-color-github) !important;
    --ion-color-base-rgb: var(--ion-color-github-rgb) !important;
    --ion-color-contrast: var(--ion-color-github-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-github-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-github-shade) !important;
    --ion-color-tint: var(--ion-color-github-tint) !important;
  }

.red-element, .red-element .sc-ion-action-sheet-md {
    color: red !important;
}

.text-small {
  font-size: 12px !important;
}

ion-searchbar {
  --box-shadow: none !important;
}

/** slides */
.slide-full {
  height: 100% !important;
}

.slide-full  div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.slide-full img {
  position: absolute;
  top: 32%;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.slide-full ion-card {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
